.manage-users-wrapper {
    padding: 16px 24px;
  }
  
  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    color: #ffffff;
  
    .icon {
      margin-right: 8px;
      color: #90caf9;
    }
  }