.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}
.menu-button.open{
  left: 250px;  
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  background: #333;
  opacity: 0.7;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease-in-out;
  z-index: 5;
  border-radius: 12px;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 15px;
  text-align: center;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.side-menu a:hover {
  background: #444;
}
a{
  cursor: pointer;
}