<div *ngIf="(branch || addBranch) && branchForm; else loading" class="branch-row">
    <ng-container *ngIf="isEditMode || addBranch; else viewMode">
        <form [formGroup]="branchForm" class="branch-form" (ngSubmit)="saveBranch()">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name" placeholder="Branch Name">
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" type="text" formControlName="address" placeholder="Branch Address">
            </div>

            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input id="latitude" type="number" formControlName="latitude" placeholder="Latitude">
            </div>

            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input id="longitude" type="number" formControlName="longitude" placeholder="Longitude">
            </div>

            <button type="submit" [disabled]="branchForm.invalid">✔</button>
            <button type="button" (click)="toggleEdit(false)">✖</button>
        </form>
    </ng-container>

    <ng-template #viewMode>
        <div class="branch-details">
            <span class="name">{{ branch.Name }}</span>
            <span class="address">{{ branch.Address }}</span>
            <span class="coords">{{ branch.Latitude }}, {{ branch.Longitude }}</span>
            <button class="edit-btn" (click)="toggleEdit(true)">✏</button>
            <button class="delete-btn" (click)="deleteBranch()">🗑</button>
        </div>
    </ng-template>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>